.container {
  max-width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.jumbotron {
  text-align: center;
  vertical-align: middle;
  color: white;
  height: 40vh;
}

.jumbotron>h1 {
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  width: 30rem;
  margin: auto;
}

#California-Banner {
  background-image: url("../images/ca_jumbo.jpg");
}

#Utah-Banner {
  background-image: url("../images/ut_jumbo.jpg");
}

#Colorado-Banner {
  background-image: url("../images/co_jumbo.jpg");
}

.banner {
  margin-bottom: 10;
  min-height: 75%;
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover;
}

table {
  text-align: center;
  width: 100%;
}

th {
  width: 33%;
  vertical-align: top;
}

.card-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  padding: 5px;
  border: lightgrey solid 2px;
}

div.card {
  width: 20rem;
  padding: 5px;
  background-color: silver;
  min-width: 300px;
  text-align: center;
  flex-basis: 30%;
}

.card-body {
  padding: 0px;
}

.card-body>hr {
  background: white;
}

.card-img {
  height: 16vw;
  width: 20vw;
  min-width: 10rem;
  min-height: 10rem;
}

th>h5 {
  font-weight: bold;
}

th>span {
  font-weight: normal;
}

.navbar {
  justify-content: flex-start;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand, .nav-link {
  color: lightgrey;
}

.nav-link {
  padding: 1rem;
}

.nav-link.active {
  color: white;
  background: black;
}

.nav-link:hover, .navbar-brand:hover {
  color: white;
}

.footer {
  background-color: grey;
  padding: 5px;
  padding-left: 5vw;
  font-size: 1.3rem;
  font-weight: bold;
}
